body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.img {
  width: 1680px;
  height: 2000px;
  background-image: url("./newImg.jpeg");
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  /* background-repeat: repeat-y; */
  background-attachment: fixed;

  margin: auto;
  padding: 0;
}
