.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-container .react-datepicker-wrapper {
  margin: 4px 0;
  width: 100%;
}

.input-container .react-datepicker-wrapper input {
  padding: 11px 5px;
}
.align {
  display: flex;
  justify-content: center;
}
.form-control {
  padding: 11px 5px;
}
.inputWrapper label {
  display: block;
  margin: 4px 0;
  width: 100%;
}
.top {
  margin: 4px 0;
  width: 100%;
}
